<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title>ตรวจสอบ โควตา</ion-title>
  </ion-toolbar>
</ion-header>
<form [formGroup]="ionicForm" novalidate>
  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label class="showlabel" position="floating" >ปีงบประมาณ</ion-label>
          <ionic-selectable
            interface="floating"
            item-content
            formControlName="typeserch_year"
            itemValueField="id"
            itemTextField="search_year"
            [items]="portssearch_year"
            [canSearch]="true" 
            closeButtonText="ยกเลิก"
            >
          </ionic-selectable>
          <span class="error" *ngIf="isSubmitted && errorControl.typeserch_year.errors?.required">
            กรุณาระบุ ปีงบประมาณ
          </span>
        </ion-item> 
      </ion-col>
      <ion-col >
        <ion-item>
          <ion-label class="showlabel" position="floating" >ประเภทการค้นหา</ion-label>
          <ionic-selectable
            interface="floating"
            item-content
            formControlName="typeserch_id"
            itemValueField="id"
            itemTextField="search_type"
            [items]="portssearch"
            [canSearch]="true" 
            closeButtonText="ยกเลิก"
            >
          </ionic-selectable>
          <span class="error" *ngIf="isSubmitted && errorControl.typeserch_id.errors?.required">
            กรุณาระบุ ประเภทการค้นหา
          </span>
        </ion-item> 
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">คำค้นหา</ion-label>
          <ion-input  formControlName="txtserach" type="text"></ion-input>      
          <span class="error" *ngIf="isSubmitted && errorControl.txtserach.errors?.required">
            กรุณาระบุ คำค้นหา
          </span>
        </ion-item>
      </ion-col>
      <ion-col>
          <ion-button [disabled]="ionicForm.invalid" (click)="SearchData(0)" expand="block"
          shape="round">
          ค้นหาข้อมูล 
        </ion-button>
      </ion-col> 
    </ion-row>
    <ion-row>
     
    
    </ion-row>
    <ion-row class="content_alert" *ngIf="maxpadding>=0">
      <ion-col>
        พบข้อมูลที่ค้นหา จำนวน  {{maxdatalimit}} ข้อมูล
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-content>
  <div>
    <ion-searchbar placeholder="ค้นหา..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    <ion-card *ngFor="let c of data  | filter:filterTerm;index as i">
      <ion-item  >
        <!-- [ngClass]="{'qtychkwaring': inqtywaring(c.qty,c.qty_remain),'qtychk':  inqtyerror(c.qty,c.qty_remain)}" -->
        <ion-grid fixed>
          <ion-row> 
            <ion-col> 
              <u class="showlabel">เลขบัตรปชช.:</u> {{ c.seller_idc }}
            </ion-col>
            <ion-col> 
              <u class="showlabel">เลขขึ้นทะเบียน :</u> {{ c.appno }}
            </ion-col>
            <ion-col> 
              <u class="showlabel">ชื่อ-สกุล :</u> {{ c.seller_name }}
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col> 
              <u class="showlabel">GID :</u> {{ c.gid }}
            </ion-col>
            <ion-col> 
              <u class="showlabel">เนื้อที่(GIS):</u> {{ c.area_rai }}
            </ion-col>
            <ion-col> 
              <u class="showlabel">โควตา:</u> {{ c.all_quota | number }}
            </ion-col>
            <ion-col> 
              <u class="showlabel">ปริมาณขายสะสม:</u> {{ c.all_volume | number }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
    <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </div>
</ion-content>
