// ion-avatar {
//   max-width: 525px;
//   max-height: 525px;
// }

ion-img {
    width: 100px;
    height: 100px;
  }
  
  .main{
    margin: 5px;
    border: 3px ridge  #f7bba3;
    padding-left: 10px;
    padding-right: 10px;
  
  }
  
  .sign{
    color: #d76417;
    font-size: 50px;
    position : relative;
    text-align : center
  }
  
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
  }
  
  .manual{
    color: #ee14d1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 3px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  
  .manual1{
    color: #f57c0a;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 3px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  
  .formmain{
    margin: 35px;
    //margin: 5px;
    border: 3px ridge  #f7e0a3;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .formsub{
    margin: 35px;
    border: 3px ridge  #daf7a3;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .appversion{
    color: #d2e1fa;
    display: flex;
    margin: auto;
  }
  
  .error{
    color: #ff0000;
    display:table;
    margin-left: auto;
    margin-right: auto;
  }
  