<ion-header>
  <ion-toolbar>
    <ion-title>กลุ่มผู้ใช้</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-buttons slot="primary">
      <ion-button (click)="refreshForm()">
        <ion-icon slot="icon-only" src="./assets/icons/refresh.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="submitForm()">
        <ion-icon slot="icon-only" src="./assets/icons/save.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<form [formGroup]="ionicForm" novalidate>
  <ion-grid>
    <ion-row>
      <ion-col>
        เลขที่ระบบ <input type="text" formControlName="id" disabled class="IDnoshowBG">
        <input type="hidden" formControlName="highlight">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">group_name</ion-label>
          <ion-input formControlName="group_name" type="text"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.group_name.errors?.required">
            กรุณาระบุ group_name
          </span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">DESCRIPTION</ion-label>
          <ion-input formControlName="description" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-content>
  <div scrollY="true" id="myFixZone">
    <ion-searchbar placeholder="ค้นหา..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    <ion-list>
      <ion-item-sliding *ngFor="let c of data  | filter:filterTerm" [ngClass]="c.highlight ? 'newdata': ''"
        (click)="selectData(c.id)">
        <ion-item>
          <ion-label>
            <ion-text color="primary">
              <h3>{{ c.group_name }}</h3>
            </ion-text>
          </ion-label>
          <ion-badge slot="end" color="success">{{ c.id }}</ion-badge>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="cancelData(c.id)">
            <ion-icon slot="end" name="trash"></ion-icon>
            ลบ
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </div>
</ion-content>
