<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <!-- <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note> -->
          <ion-img class="pic"  src={{pic}}  [hidden]="!pic"></ion-img>
          <ion-note>{{emp_name}}</ion-note>
          <ion-button class="btncolor" (click)="chPass()" fill="clear"> 
          <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
          <div> <ion-note>สังกัด {{dept_name}}</ion-note> <ion-note>กลุ่ม {{group_name}}</ion-note></div>

          <div *ngFor="let p of appPages | filter:filterTerm; let i = index;" >
            <ion-menu-toggle auto-hide="false" *ngIf="p.url" >
              <ion-item   [routerLink]="[p.url]" routerDirection="root" routerLinkActive='active' lines="none"  >
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"
                  [src]="'./assets/icons/' + p.svg + '.svg'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open"  detail="false" >
            
              <ion-icon slot="start"  [src]="'./assets/icons/' + p.svg + '.svg'"   *ngIf="!p.open"></ion-icon>
              <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
              <ion-label  [class.active-parent]="p.open"  >{{ p.title }}</ion-label>
            </ion-item>
             <ion-list *ngIf="p.open">
              <ion-menu-toggle auto-hide="false">
                <ion-item *ngFor="let sub of p.children let sub_i = index"  routerDirection="root" [routerLink]="[sub.url]" lines="none" detail="false" class="sub-item" routerLinkActive='active'> 
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"
                    [src]="'./assets/icons/' + sub.svg + '.svg'"></ion-icon>
                  <ion-label>{{ sub.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list> 
          </div>

        </ion-list>
        <label class="appversion" >App Version : {{versionNumber}}</label>
       
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
