<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons> 
    <!-- <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  -->
    <ion-title>ระบุผู้ค้า</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="submitForm()">
        <ion-icon slot="icon-only" src="./assets/icons/save.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <tabset>
  <tab heading="แบบฟอร์ม" id="tab1">
    <form [formGroup]="ionicForm" novalidate>
      <ion-grid fixed>
        <ion-row> 
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">สำนักงานตลาดยางพารา</ion-label>
              <ion-input formControlName="rubbermarket" type="text"></ion-input>
              <span class="error" *ngIf="isSubmitted && errorControl.rubbermarket.errors?.required">
                กรุณาระบุ สำนักงานตลาดยางพารา
              </span>
            </ion-item>
          </ion-col>
          <ion-col >
            <ion-item>
              <ion-label  class="showlabel" position="floating">รูปแบบผลผลิต</ion-label>
              <ionic-selectable
                interface="popover"                 
                formControlName="mtdproduct_id"
                itemValueField="id"
                itemTextField="name"
                [items]="ports_product"              
                [canSearch]="true"
               
                closeButtonText="ยกเลิก"
                >
              </ionic-selectable>
            </ion-item>
            <span class="error" *ngIf="isSubmitted && errorControl.mtdproduct_id.errors?.required">
              กรุณาระบุ รูปแบบผลผลิต
            </span>
          </ion-col>
        </ion-row>
        <ion-row> 
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">ชื่อผู้ค้า</ion-label>
              <ion-input formControlName="merchantname" type="text"></ion-input>
              <span class="error" *ngIf="isSubmitted && errorControl.merchantname.errors?.required">
                กรุณาระบุ ชื่อผู้ค้า
              </span>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">เลขทะเบียนเกษตรกร</ion-label>
              <ion-input formControlName="appno"  type="number" ></ion-input>
             
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">ชื่อผู้ดำเนินงาน</ion-label>
              <ion-input formControlName="operatorname" type="text"></ion-input>
              <span class="error" *ngIf="isSubmitted && errorControl.operatorname.errors?.required">
                กรุณาระบุ ชื่อผู้ดำเนินงาน
              </span>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">เลขบัตรปชช.</ion-label>
              <ion-input formControlName="operatorname_idcard"  type="number"></ion-input>
              <span class="error" *ngIf="isSubmitted && errorControl.operatorname_idcard.errors?.required">
                กรุณาระบุ เลขบัตรปชช
              </span>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">เบอร์ติดต่อ</ion-label>
              <ion-input formControlName="operatorname_tel" type="text"></ion-input>
              <span class="error" *ngIf="isSubmitted && errorControl.operatorname_tel.errors?.required">
                กรุณาระบุ เบอร์ติดต่อ
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">บ้านเลขที่</ion-label>
              <ion-input formControlName="village" type="text"></ion-input>
              <span class="error" *ngIf="isSubmitted && errorControl.village.errors?.required">
                กรุณาระบุ บ้านเลขที่
              </span>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">หมู่</ion-label>
              <ion-input formControlName="moo" type="text"></ion-input>              
            </ion-item>
          </ion-col>
        </ion-row> 
        <ion-row>
          <ion-col >
            <ion-item>
              <ion-label  class="showlabel" position="floating">จังหวัด</ion-label>
              <ionic-selectable
                interface="popover"                 
                formControlName="province"
                itemValueField="code"
                itemTextField="name"
                [items]="ports_province"              
                [canSearch]="true"               
                closeButtonText="ยกเลิก"
                (onChange)="portChange_prov($event)"
                >
              </ionic-selectable>
            </ion-item>
            <span class="error" *ngIf="isSubmitted && errorControl.province.errors?.required">
              กรุณาระบุ จังหวัด
            </span>
          </ion-col>
          <ion-col >
            <ion-item>
              <ion-label  class="showlabel" position="floating">อำเภอ</ion-label>
              <ionic-selectable
                interface="popover"                 
                formControlName="amphur"
                itemValueField="code"
                itemTextField="name"
                [items]="ports_amphur"              
                [canSearch]="true"               
                closeButtonText="ยกเลิก"
                (onChange)="portChange_amp($event)"
                >
              </ionic-selectable>
            </ion-item>
            <span class="error" *ngIf="isSubmitted && errorControl.province.errors?.required">
              กรุณาระบุ อำเภอ
            </span>
          </ion-col>
          
          <ion-col >
            <ion-item>
              <ion-label  class="showlabel" position="floating">ตำบล</ion-label>
              <ionic-selectable 
                interface="popover"                 
                formControlName="tambon"
                itemValueField="code"
                itemTextField="name"
                [items]="ports_tambon"              
                [canSearch]="true"               
                closeButtonText="ยกเลิก"
                >
              </ionic-selectable>
            </ion-item>
            <span class="error" *ngIf="isSubmitted && errorControl.tambon.errors?.required">
              กรุณาระบุ ตำบล
            </span>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">รหัสไปรษณีย์</ion-label>
              <ion-input formControlName="zipcode" type="text"></ion-input>              
            </ion-item>
            <span class="error" *ngIf="isSubmitted && errorControl.zipcode.errors?.required">
              กรุณาระบุ รหัสไปรษณีย์
            </span>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col> 
            <ion-auto-complete class="showlabel" [labelPosition]="'floating'" [label]="'สถานที่ตั้ง (แขวง/ตำบล เขต/อำเภอ จังหวัด รหัสไปรษณีย์)'" 
              [dataProvider]="placeSv" formControlName="place_rubber1"></ion-auto-complete>
            <span class="error" *ngIf="isSubmitted && errorControl.place_rubber1.errors?.required">
              กรุณาระบุ สถานที่ตั้ง
            </span> 
          </ion-col>
        </ion-row> -->
        <ion-row  *ngIf="trac1_id == null">
          <ion-col>
            <input type="file" (change)="onFileChange($event)" (click)="onInputClick($event)"  multiple="false" />
            <div id="xlsxcount" class="error"></div>
            <br>
          <!--   <div id="htmlerr" style="overflow-x:auto;"></div> -->
            <div id="htmlerr"></div>
            <div id="htmlout" style="overflow-x:auto;"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </tab>

 
</tabset>  
  

   
 
</ion-content>
