<ion-content>
  <div class="main">
    <p><img src="assets/imgs/logo1.png" class="logo" width="50" height="50"></p>
    <p class="sign" >Raot Work Attendance</p>
    <form class="formmain" [formGroup]="ionicForm"  (ngSubmit)="submitForm()" novalidate >
      <ion-item lines="full" class="un">
        <ion-label class="showlabel"  position="floating">วัน/เวลา</ion-label>
        <ion-input  formControlName="server_time" type="text" readonly></ion-input>
        <span class="error" *ngIf="isSubmitted && errorControl.server_time.errors?.required">
          กรุณาระบุ Username
        </span>
      </ion-item>
      <ion-item lines="full" class="un">
        <ion-label class="showlabel"  position="floating">Username</ion-label>
        <ion-input  formControlName="username" type="text" ></ion-input>
        <span class="error" *ngIf="isSubmitted && errorControl.username.errors?.required">
          กรุณาระบุ Username
        </span>
      </ion-item>
      <ion-item lines="full" class="pass">
        <ion-label class="showlabel"  position="floating">Password</ion-label>
        <ion-input  formControlName="password" type="password"  ></ion-input>
        <span  class="error" *ngIf="isSubmitted && errorControl.password.errors?.required">
          กรุณาระบุ Password
        </span>
      </ion-item>
      <ion-item>
        <ion-label class="showlabel" position="floating">การลงเวลา</ion-label>
        <ionic-selectable interface="floating" formControlName="check_type" itemValueField="id"itemTextField="type" [items]="ports_checktype" [canSearch]="true" closeButtonText="ยกเลิก"  (onChange)="portChange($event)">
        </ionic-selectable>
        <span  class="error" *ngIf="isSubmitted && errorControl.check_type.errors?.required">
          กรุณาระบุ การลงเวลา
        </span>
      </ion-item>
     <ion-item *ngIf="this.ionicForm.controls.check_type.value.id === '1'">
      <ion-label class="showlabel" position="floating">สังกัดที่ช่วยปฏิบัติงาน</ion-label>
        <ionic-selectable interface="floating" formControlName="dept" itemValueField="dept_id"itemTextField="dept_name" [items]="ports_dept" [canSearch]="true" closeButtonText="ยกเลิก" (onChange)="portChange($event)" >
        </ionic-selectable>
        <span  class="error" *ngIf="isSubmitted && errorControl.dept.errors?.required">
          กรุณาระบุ สังกัดที่ช่วย
        </span>
     </ion-item>
     <ion-item *ngIf="this.ionicForm.controls.check_type.value.id === '2'">
      <ion-label class="showlabel"  position="floating">ระบุปัญหาอื่นๆ</ion-label>
      <ion-input  formControlName="problem_cause" type="text"  ></ion-input>
     </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="secondary" expand="block">เข้าสู่ระบบ</ion-button>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col>Lat: {{vlat}}</ion-col>
        <ion-col>Lon: {{vlon}}</ion-col>
        <ion-col>plf: {{vplf}}</ion-col>
        <ion-col>device: {{vdevice}}</ion-col>
        <ion-col>ipAddress: {{ipAddress}}</ion-col>
        <ion-col>ip1: {{vdevice}}</ion-col>
      </ion-row> -->
    </form>
    <ion-row>
      <ion-col>
        <button class="manual" ion-button (click)="openmanual()">คู่มือการใช้งาน</button>
      </ion-col>
      <ion-col>
        <button class="manual1" ion-button (click)="openmanual1()">ดูข้อมูลย้อนหลัง</button>
      </ion-col>
    </ion-row>




    <div class="formsub" *ngIf="emp_name != null">
      <ion-grid >
        <ion-row>
          <ion-col>
            <ion-img [src]="img" ></ion-img>
          </ion-col>
          <ion-col>
            <ion-label> {{emp_name}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label> {{dept_name}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label> <u>ลงเวลาแบบ</u> {{ionicForm.controls.check_type.value.type}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row  *ngFor="let c of datagps">
          <ion-col>
            <ion-label> <u>พิกัดสำนักงาน</u> {{c.lat}} , {{c.lon}}  <ion-button (click)="GetGPSwork(c.lat,c.lon)">เปิดดูพิกัดสำนักงาน</ion-button></ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!datagps">
          <ion-col>
            <ion-label>พิกัดสำนักงาน ไม่พบพิกัดในระบบ</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label><u>พิกัดปัจจุบัน</u> {{vlat}} , {{vlon}} <ion-button (click)="GetGPS(gpsplacelat,gpsplacelon)">ดึงพิกัดใหม่</ion-button></ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><u>ระยะทางโดยประมาณ</u> {{vkm}}  km.</ion-col>
        </ion-row>
      </ion-grid>

      <div *ngIf="(vkm <= setkm && datagps) || dontchkgps.includes(ionicForm.controls.check_type.value.id)">
        <ion-grid>
         <ion-row>
           <ion-col><ion-label>บันทึกเข้าเวลา :</ion-label></ion-col>
           <ion-col>{{timein}}</ion-col>
         </ion-row>
         <ion-row>
          <ion-col><ion-label>บันทึกออกเวลา :</ion-label></ion-col>
          <ion-col>{{timeout}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-button color="success" (click)="Checkinout(1)">ลงเวลาเข้าทำงาน</ion-button></ion-col>
          <ion-col><ion-button color="danger" (click)="Checkinout(2)">ลงเวลาออกทำงาน</ion-button></ion-col>
        </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="vkm > setkm && !dontchkgps.includes(ionicForm.controls.check_type.value.id)">
        <ion-label class="error">ไม่สามารถลงเวลาได้ เนื่องจากระยะทางเกิน {{setkm*1000}} ม. กรุณาเข้าใกล้สำนักงานฯตามระยะทางที่กำหนด โดยกดปุ่มดึงพิกัดใหม่อีกครั้ง</ion-label>
      </div>
      <div *ngIf = "!datagps && ionicForm.controls.check_type.value.id !== '2'">
          <ion-label class="error">ไม่สามารถลงเวลาได้ เนื่องจากไม่พบพิกัด สำนักงาน กรุณาติดต่อ 12322</ion-label>
      </div>
    </div>
    <ion-row  >
        <ion-label class="appversion"> App Version : {{versionNumber}} </ion-label>
    </ion-row>
  </div>
</ion-content>
