<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title>ประมวลผล  {{ merchantname }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="Printuser()">
        <ion-icon slot="icon-only" src="./assets/icons/print.svg"></ion-icon>
      </ion-button>
      <ion-button (click)="Adduser()">
        <ion-icon slot="icon-only" src="./assets/icons/adduser.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->
    <ion-searchbar placeholder="ค้นหา..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    <ion-card *ngFor="let c of data | filter:filterTerm;index as i  ">

      <ion-item>
        <ion-row>
        
          <ion-label>
            <ion-text color="primary">
              <h3>{{ c.appno }} {{ c.seller_name }} </h3>
            </ion-text>
             <p> {{ c.seller_idc }} </p>
          </ion-label>
          
         
        </ion-row>
     
        <ion-buttons slot="end">
          <ion-button (click)="reloadData(i)">
            <ion-icon slot="icon-only" src="./assets/icons/reload.svg"></ion-icon>
          </ion-button>
        </ion-buttons>

     
      </ion-item>
      
      <ion-item>
        <ion-grid fixed>         
          <div *ngIf="c.detail_land?.length > 0">
            <ion-row  *ngFor="let cc of c.detail_land;let ii = index;">
              <ion-col class="aligncontent" size="auto" > 
                
                <ion-buttons *ngIf="(cc.gid != null && cc.land_status === '0')  && (cc.trac1_land_assessment_id === null )"   >             
                   <ion-button (click)="checklistForm(ii,i)">
                     <ion-icon slot="icon-only" src="./assets/icons/checklist.svg"></ion-icon>
                   </ion-button>
                 </ion-buttons> 
                 <ion-item *ngIf="cc.trac1_land_assessment_id !== null && cc.frist === null">
                  <ion-checkbox  (click)="selectData($event,ii,i)" color="dark" > </ion-checkbox>
                </ion-item>
                
                <ion-buttons 
                *ngIf="cc.trac1_land_assessment_id !== null && cc.frist === 0"  >             
                  <ion-button (click)="checklistForm(ii,i)">
                    <ion-icon slot="icon-only" src="./assets/icons/checklist.svg"></ion-icon>
                  </ion-button>
                </ion-buttons>
               </ion-col>             
              <ion-col  size="auto" *ngIf="cc.gid != null"><u class="showlabelheader">GID</u> {{cc.gid}}</ion-col>
              <ion-col  size="auto" *ngIf="cc.ld_type != null"><u class="showlabelheader">เอกสารสิทธิ์</u> {{cc.ld_type}}</ion-col>
              <ion-col  size="auto" *ngIf="cc.ld_type != null"><u class="showlabelheader">เลขที่</u> {{cc.ld_id}}</ion-col>
              <ion-col  size="auto" *ngIf="cc.rai != null"><u class="showlabelheader">เนื้อที่</u> {{cc.rai}} - {{cc.ngan}} - {{cc.sqwah}}    </ion-col>
              <ion-col  size="auto" *ngIf="cc.gid == null || cc.land_status === '1' " class="error"> {{cc.gis_status}}   </ion-col>
              <ion-col  size="auto"  class="ok"  > {{cc.text_status}}   </ion-col>
              <!-- <ion-col class="error" >ประเมินแล้ว/ผ่าน EUDR/เป็นแปลงที่นำเข้า</ion-col> -->
            </ion-row>
            <!-- <ion-row>
            
            </ion-row> -->
          </div>
          <div *ngIf="c.detail_land?.length === 0">
            <ion-row >
              <ion-col class="error">
                  ไม่พบข้อมูลขึ้นทะเบียนเกษตรกร/ไม่พบหลักฐานที่เป็นเอกสารสิทธิ์
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>


      </ion-item>
    </ion-card>
    <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </div>
</ion-content>
